.colorBlockLogin {
	position: fixed;
	height: 100%;
	width: 36%;
	background-color: var(--first-color);
	top: 0;
	left: 0;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(30px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-floating {
  animation: floating 4s ease-in-out infinite;
}
