@media screen and (max-width: 1400px) {
	.container {
		max-width: calc(100% - 180px);
	}
	

}

@media screen and (max-width: 1200px) {
	.grid {
		gap: 20px;
	}

	.homeData {
		padding-right: 40px;
	}

	.homeTitle {
		font-size: var(--big-font-size);
	}

	.homeDescription {
		font-size: var(--small-font-size);
	}

	.statsTitle {
		padding-left: 35px;
	}

	.statsTitle::before {
		width: 22px;
	}
	.resumeIcon {
		width: 36px;
		height: 36px;
		line-height: 38px;
	}
	.resumeItem {
		padding-left: 55px;
	}

	.portfolioContainer {
		grid-template-columns: repeat(2, 1fr);
		gap: 12px;
		margin-inline: auto;
	}

	.portfolioItem {
		margin-inline: auto !important;
	}

	.card {
		width: 300px;
		height: 290px;
		overflow: hidden;
	}

	.formInput-group {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 24px;
	}

	.formInput-group .formInput-div:last-child {
		grid-column: 1/-1;
	}

	.formInput-div {
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		max-width: 720px;
	}

	.home {
		padding: 20px;
		grid-template-columns: 5fr 7fr;
	}

	.homeData {
		padding-right: 0;
	}

	.section {
		padding-block: 50px;
	}

	.sectionTitle {
		margin-bottom: 40px;
	}

	.aboutContainer,
	.resumeContainer,
	.contactContainer {
		grid-template-columns: 1fr;
	}

	.aboutContainer {
		row-gap: 40px;
	}

	.subtitleCenter {
		margin-bottom: 45px;
	}
	.card {
		width: 340px;


	}

	.resumeContainer {
		row-gap: 45px;
	}

	.resumeItem:not(:last-child) {
		margin-bottom: 24px;
	}

	.homeImg {
		width: 800px;
	}

	.separator {
		margin: 65px auto 50px;
	}

	.portfolioContainer {
		grid-template-columns: repeat(2, 1fr);
	}

	.contactContainer {
		row-gap: 48px;
	}
}

@media screen and (max-width: 768px) {
	.home {
		grid-template-columns: 1fr;
	}

	.colorBlock {
		display: none;
	}

	.homeImg {
		width: 270px;
		height: 270px;
		border-radius: 50%;
		margin: 30px auto 8px;
	}

	.homeDescription {
		max-width: 500px;
		text-align: center;
		margin-bottom: auto;
	}

	.homeTitle {
		padding-left: 0;
	}
	.homeTitle span {
		font-size: 28px;
		line-height: 40px;
		font-weight: 700;
	}

	.container {
		max-width: 540px;
	}
	.portfolioContainer {
		grid-template-columns: 1fr;
	}

	.card {
		width: 300px;
	}
}

@media screen and (max-width: 576px) {

	.navToggle {
		top: 20px;
		right: 25px;
	}

	.navlink {
		column-gap: 20px;
	}

	.navName,
	.navIcon {
		font-size: var(--h3-font-size);
	}

	.infoItem {
		display: flex;
		padding-left: 10px;
	}

	.portfolioContainer {
		grid-template-columns: 1fr;
	}

	.formInput-group {
		grid-template-columns: 1fr;
	}

	.theme-img {
		width: 25px;
	}

	.style-switcherToggler,
	.theme-toggler {
		width: 40px;
		height: 40px;
	}
	.style-switcherToggler {
		top: 15%;
	}

	.theme-toggler {
		bottom: 15%;
	}

	.style-switcherClose {
		top: 5%;
	}
}

@media screen and (max-width: 450px) {
	
	.home {
		margin-block: auto;
		align-items: left;
	}
	
	.section {
		margin-bottom: 100px;
	}

	.homeTitle {
		font-size: var(--h3-font-size);
	}

	.homeDescription {
		text-align: justify;
		font-size: var(--normal-font-size);
		margin-bottom: 20px;
	}

	.infoTitle {
		display: block;
		margin-bottom: 6px;
	}

	.statsBox {
		padding: 15px 15px 25px 20px;
	}
}
