.portfolioContainer {
	grid-template-columns: repeat(3, 1fr);
	margin-inline: auto !important;
	gap: 15px;
}

.btn-primary:hover {
	background-color: var(--first-color);
	color: var(--text-white);
}

.portfolioItem {
	background-color: transparent;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid var(--first-color);
	transition: all 0.3s ease-in-out;
	margin: 0 auto !important;
}

.portfolioItem:hover {
	border: 3px solid var(--text-black);
	background: transparent;
	box-shadow: 1px 2px var(--first-color);
}

.portfolioItem h3 {
	margin: 24px 0 20px;
	font-weight: var(--weight-400);
	text-align: center;
}
.links {
	display: flex;
	gap: 24px;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.card {
	width: 400px;
	height: 200px;
	overflow: hidden;
}

.portfolioItem-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
	transition: all 4s ease-in-out;
}

.portfolioItem-img:hover {
	object-position: bottom center;
}

